@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
  font-family: 'Nunito', sans-serif;
}
.landing-container {
  padding: 10%;
  min-height: 800px;
}
.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.page-background {
  background-image: url('/img/background.jpeg'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  filter:blur(2px);
}

@media (max-width: 740px) {
  .landing-container{
    height: 100vh;
  }
}

.footer-css{
  background-color: rgba(121, 139, 121, 0.3);
}

.navbar{
  background-color: rgba(121, 139, 121, 0.3) ;
}

.introduction {
    padding-bottom: 2%;
    width: fit-content;
    margin: 5% auto;
    text-shadow: 2px 2px 4px #000000;
}

.text-shadow {
  text-shadow: 2px 2px 4px #000000;
}

.continue-box{
  font-size: 2vh;
  padding: 0.25vh;
  border: 1px solid white;
  width: 75%;
  margin: 1vh auto;
}

.continue-box:hover{
  cursor: pointer;
  background-color: rgba(121, 139, 121, 0.3) ;
  border: 1px solid greenyellow;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: darkcyan;
  }
}

.hr-light {
  border-top: 3px solid #fff;
}

.md-form, .label, label {
  color: #ffffff;
}

.login-content {
  background: rgba(8, 8, 8, 0.6) ;
  padding: 3%;
}

/* Dashboard */
.dashboard {
    display: flex;
} 

.sidebar {
  width: 15vw;
  min-height: 100vh;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.sidebar-components{
  margin: auto;
  width: 80%;
  /* display: flex; */
  /* flex-direction: column; */
}

.sidebar-buttons{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  width: 100%;
  margin: 1vh;
  background-color: white;
  border-radius: 0.5em;
  font-size: 2vh;
  padding: 0.5vh;
  cursor: pointer;
  transition: all 0.5s;
  border: 0.1em solid black;
}

.sidebar-buttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.sidebar-buttons span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.sidebar-buttons:hover span {
  padding-right: 25px;
}

.sidebar-buttons:hover {
  padding-right: 25px;
  background-color: #c6ff00 ;
}

.sidebar-buttons:hover span:after {
  opacity: 1;
  right: 0;
}

.dashboard-title{
  font-size: 3vh;
}

@media (max-width: 700px) {
  .sidebar-buttons{
    font-size:1.5vh;
  }
  .dashboard-title{
    font-size: 2vh;
  }
  .sidebar {
    width: 30vw;
  }
  
}

.top-menu {
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1%;
}

.current-content{
  text-transform: uppercase;
  font-family: 'Righteous', cursive;
}

.main-content {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
  width: 100%;
}

/* Profile */

.profile-content {
  padding: 20%;
}
/* All Transactions */
.filters-container{
  width: 40vh;
  margin: auto;
}

.statistic-filter {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 80%;
  margin: 3% auto;

}
.date-filter-container{
  width: 50%;
  padding: 1vh;
  margin: auto;
}

.date-filter-container-column{
  display: flex;
  flex-flow: row wrap;
  margin: 0.5vh;
  justify-content: space-between;
}

/* Accounts */
.add-new-account-button{
  margin:auto;
}

/* categories */
.categories {
  width: 60%;
  margin: auto;
  margin-top: 5%;
  padding: 2%;
}

.tab-pane {
  padding-top: 2%;
}
/* List All Transactions */
.edit-transaction-form{
  margin: auto;
  width: 80%;
  padding: 2vh;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

/* Information */
.d-block {
  filter: blur(2px);
}

.feature {
  margin-top: 15%;
}
.feedback {
  background-color: whitesmoke;
  margin-top: 15%;
}
/* statistic-box */
.statistic-box{
  width: 60vh;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-header:first-child {
  margin-bottom: 4vh;
}
.statistic-box-column{
  display: flex;
  justify-content: space-between;
  padding: 0 2vh;
}

.statistic-box-item-title{

}
.statistic-box-item-value{

}

/* import */
.import {
  width: 80%;
  margin: 10% auto;
}
.fa-play:before {
  margin-left: .3rem;
}

/* Steps */
.step {
  list-style: none;
  margin: 0;
}

.step-element {
  display: flex;
  padding: 1rem 0;
}

.step-number {
  position: relative;
  width: 7rem;
  flex-shrink: 0;
  text-align: center;
}

.step-number .number {
  color: #bfc5ca;
  background-color: #eaeff4;
  font-size: 1.5rem;
}

.step-number .number {
  width: 48px;
  height: 48px;
  line-height: 48px;
}

.number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  border-radius: 10rem;
}

.step-number::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 48px;
  bottom: -2rem;
  margin-left: -1px;
  border-left: 2px dashed #eaeff4;
}

.step .step-element:last-child .step-number::before {
  bottom: 1rem;
}

.instruction, .list-cat{
  cursor: pointer;
}

.instruction:hover, .list-cat:hover {
  color: aquamarine;
}
.expense-cat {
  max-height: 400px;
  overflow: scroll;
}

.all-accounts-container, .list-all-transactions-container{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-top: 5vh;
}